.player {
  border: 0.1rem solid #000;
  padding: 0.1rem;
  border-radius: 2px;

  &--brown {
    border-color: #7f4e27;
    background-color: rgba(#7f4e27, 0.5);
  }

  &--light-blue {
    border-color: #93d4f6;
    background-color: rgba(#93d4f6, 0.5);
  }

  &--purple {
    border-color: #c93277;
    background-color: rgba(#c93277, 0.5);
  }

  &--orange {
    border-color: #eb9a0c;
    background-color: rgba(#eb9a0c, 0.5);
  }

  &--red {
    border-color: #dd0728;
    background-color: rgba(#dd0728, 0.5);
  }

  &--yellow {
    border-color: #ebec37;
    background-color: rgba(#ebec37, 0.5);
  }

  &--green {
    border-color: #00ac58;
    background-color: rgba(#00ac58, 0.5);
  }

  &--dark-blue {
    border-color: #4166ad;
    background-color: rgba(#4166ad, 0.5);
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__volume {
    width: 1rem;
    height: 1rem;
    opacity: 0.3;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}