.board {
  display: grid;
  grid-template-columns: 2fr repeat(9, 1fr) 2fr;
  grid-template-rows: 2fr repeat(9, 1fr) 2fr;
  gap: 0.1rem;
  background-color: #000;
  border: 1px solid #000;
  height: calc(100vh + 0.1rem);
  margin-top: -0.1rem;
  margin-bottom: -0.2rem;
  margin-left: -0.1rem;
}

.center {
  grid-column: 2 / span 9;
  grid-row: 2 / span 9;
  background-color: #fff;
}

.cell-container {
  border-collapse: collapse;
  box-sizing: border-box;
  background-color: #fff;
}

.cell-start {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1060px) {
    font-size: 14px;
  }

  @media screen and (max-width: 910px) {
    font-size: 10px;
  }

  @media screen and (max-width: 721px) {
    font-size: 8px;
  }

  &__title {
    font-size: 2em;
    font-weight: 700;
  }

  &__description {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
  }
}

.property {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;



  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 890px) {
    font-size: 10px;
  }

  @media screen and (max-width: 720px) {
    font-size: 8px;
  }

  &--left {
    flex-direction: row-reverse;

    .property__color {
      width: 1rem;
      height: 100%;
      border-left: 0.1rem solid #000;
      border-bottom: none;
      flex-direction: column
    }

    .property__price {
      margin-left: 0.2rem;
    }
  }

  &--right {
    flex-direction: row;

    .property__color {
      width: 1rem;
      height: 100%;
      border-right: 0.1rem solid #000;
      border-bottom: none;
      flex-direction: column
    }

    .property__price {
      margin-right: 0.2rem;
    }
  }

  &--up {
    flex-direction: column-reverse;

    .property__color {
      border-top: 0.1rem solid #000;
      border-bottom: none;
    }

    .property__price {
      margin-right: 0.2rem;
    }
  }

  &__color {
    width: 100%;
    height: 1rem;
    border-bottom: 0.1rem solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .home {
      width: .5rem;
      height: .5rem;
    }

    &--brown {
      background-color: #7f4e27;
    }

    &--light-blue {
      background-color: #93d4f6;
    }

    &--purple {
      background-color: #c93277;
    }

    &--orange {
      background-color: #eb9a0c;
    }

    &--red {
      background-color: #dd0728;
    }

    &--yellow {
      background-color: #ebec37;
    }

    &--green {
      background-color: #00ac58;
    }

    &--dark-blue {
      background-color: #4166ad;
    }
  }

  &__title {
    font-size: 0.5rem;
    text-align: center;
  }

  &__price {
    font-size: 1em;
    text-align: center;
  }
}

.train-station {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 890px) {
    font-size: 10px;
  }

  @media screen and (max-width: 720px) {
    font-size: 8px;
  }

  &--left {
    flex-direction: row-reverse;

    .train-station__image {
      margin-right: 0.2rem;
    }

    .train-station__price {
      margin-left: 0.2rem;
    }
  }

  &--right {
    flex-direction: row;

    .train-station__image {
      margin-left: 0.2rem;
    }

    .train-station__price {
      margin-right: 0.2rem;
    }
  }

  &--up {
    flex-direction: column-reverse;

    .train-station__image {
      margin-bottom: 0.2rem;
    }
  }

  &--down {
    .train-station__image {
      margin-top: 0.2rem;
    }
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__price {
    font-size: 1em;
    text-align: center;
  }
}

.chance {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  &--left,
  &--right {
    font-size: 1rem;
  }
}

.chest {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &--left,
  &--right {
    .chest__image {
      width: 1rem;
      height: 1rem;
    }
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.go-to-jail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  &__text {
    font-size: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.jail {
  padding-top: 0.02rem;
  height: 100%;

  &__top-text {
    text-align: center;
    font-size: 0.8rem;
    padding-left: 20%;
    height: 20%;
  }

  &__footer {
    display: flex;
    height: 80%;
  }

  &__left-text {
    transform: rotate(-90deg) translateY(40%);
    font-size: 0.8rem;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top: 0.1rem dashed #000;
    border-left: 0.1rem dashed #000;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.free-parking {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  &__text {
    font-size: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.tax {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 890px) {
    font-size: 10px;
  }

  @media screen and (max-width: 720px) {
    font-size: 8px;
  }

  &__text {
    text-transform: uppercase;
  }

  &--left {
    flex-direction: row-reverse;

    .tax__text {
      order: 1;
      margin-left: 0.2rem;
    }

    .tax__image {
      margin-right: 0.2rem;
    }

    .tax__price {
      margin-left: 0.2rem;
    }
  }

  &--down {
    .tax__image {
      margin-top: 0.2rem;
    }
  }

  &__image {
    width: 1.2rem;
    height: 1.2rem;
  }

  &__price {
    font-size: 1em;
    text-align: center;
  }
}

.special {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &--lamp {
    .special__image--water {
      display: none;
    }
  }

  &--water {
    .special__image--lamp {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 890px) {
    font-size: 10px;
  }

  @media screen and (max-width: 720px) {
    font-size: 8px;
  }

  &--right {
    flex-direction: row;

    .special__image {
      margin-left: 0.2rem;
    }

    .special__price {
      margin-right: 0.2rem;
    }
  }

  &--up {
    flex-direction: column-reverse;

    .special__image {
      margin-bottom: 0.2rem;
    }
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__price {
    font-size: 1em;
    text-align: center;
  }
}
