.train-station {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media screen and (max-width: 890px) {
    font-size: 10px;
  }

  @media screen and (max-width: 720px) {
    font-size: 8px;
  }

  &--left {
    flex-direction: row-reverse;

    .train-station__image {
      margin-right: 0.2rem;
    }

    .train-station__price {
      margin-left: 0.2rem;
    }
  }

  &--right {
    flex-direction: row;

    .train-station__image {
      margin-left: 0.2rem;
    }

    .train-station__price {
      margin-right: 0.2rem;
    }
  }

  &--up {
    flex-direction: column-reverse;

    .train-station__image {
      margin-bottom: 0.2rem;
    }
  }

  &--down {
    .train-station__image {
      margin-top: 0.2rem;
    }
  }

  &__image {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__price {
    font-size: 1em;
    text-align: center;
  }
}